@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only all and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

html {
  font-size: 16px;
  font-size: 1rem;
}

@media only all and (max-width: 1050px) {
  html {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media only all and (max-width: 480px) {
  html {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

h1 {
  font-size: 3em;
}

@media only all and (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
}

@media only all and (max-width: 480px) {
  h1 {
    font-size: 2.25em;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body header,
body main,
body footer {
  position: relative;
}

body > header {
  z-index: 5;
}

body > main,
body > footer {
  z-index: 1;
}

.container, .wrapper {
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}

.header .container > * {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.txt-yellow {
  color: #003970;
}

.txt-white {
  color: #fff;
}

.txt-highlight {
  font-size: 1.25rem;
}

.mayus {
  text-transform: uppercase;
}

.gradient-yellow {
  background: #fec816;
  background: -moz-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #fec816), color-stop(100%, #ffae00));
  background: -webkit-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: -o-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: -ms-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: linear-gradient(135deg, #fec816 0%, #ffae00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec816', endColorstr='#ffae00', GradientType=1 );
}

.gradient-purple {
  background: #8d0952;
  background: -moz-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #8d0952), color-stop(100%, #ec4eaa));
  background: -webkit-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: -o-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: -ms-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: linear-gradient(to bottom, #8d0952 0%, #ec4eaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d0952', endColorstr='#ec4eaa', GradientType=0 );
  color: #fff;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-container .flex-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*@import 'base/typos';*/
.btn {
  background-color: #003970;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em;
  position: relative;
  text-align: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0053a3;
  color: #000;
}

.btn.arrow, .btn.not-arrow {
  font-weight: bold;
  padding: 0.75em 2em;
  min-width: 12em;
  text-transform: uppercase;
}

.btn.arrow::after {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  content: '';
  display: block;
  height: 0.45em;
  position: absolute;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1em;
  right: 1.4em;
  width: 0.45em;
}

.btn.xl {
  padding: 1em 0.5em;
}

.btn.disabled {
  background-color: #e6e6e6;
  color: #b3b3b3;
  cursor: auto;
}

.btn.grey {
  background-color: #cccccc;
  color: #000;
  /*&.arrow::after{
			border-color: $color-light;
		}*/
}

.btn.grey:hover {
  background-color: #e6e6e6;
}

.btn.black {
  background-color: #000;
  color: #fff;
}

.btn.black:hover {
  background-color: #262626;
}

.btn.black.arrow::after {
  border-color: #fff;
}

.btn.white {
  background-color: #fff;
}

.btn.white:hover {
  background-color: white;
}

.btn.green {
  background-color: #8bb52b;
  color: #fff;
}

.btn.green:hover {
  background-color: #b9dc6a;
}

.btn.transparent {
  background: none;
}

.btn.disabled {
  background-color: #e6e6e6;
  color: #b3b3b3;
  cursor: default;
}

.btn.disabled:hover {
  background-color: #e6e6e6;
}

.btn.disabled.arrow::after {
  border-color: #b3b3b3;
}

.btn.disabled-black {
  background-color: #000;
  color: #fff;
  cursor: auto;
}

.btn.btn-slider-left {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

@media only all and (max-width: 768px) {
  .btn.btn-slider-left {
    min-width: 10em;
    bottom: 9%;
  }
}

.btn.btn-slider-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media only all and (max-width: 768px) {
  .btn.btn-slider-right {
    min-width: 10em;
    bottom: 9%;
  }
}

div.btn.arrow.btn-slider-left::after, div.btn.arrow.btn-slider-right::after {
  top: 1.3em;
}

@media only all and (max-width: 768px) {
  div.btn.arrow.btn-slider-left::after, div.btn.arrow.btn-slider-right::after {
    right: .8em;
  }
}

button.video-modal.player {
  position: relative;
}

button.video-modal.player::after {
  background: url("../../images/icon-play.svg") no-repeat center;
  background-size: 10%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  width: 100%;
}

button.video-modal.player:not(:hover)::after {
  opacity: 0.75;
}

.video-modal.player {
  position: relative;
}

.video-modal.player .imgcat {
  position: relative;
  cursor: pointer;
}

.video-modal.player .imgcat::after {
  background: url("../../images/icon-play.svg") no-repeat center;
  background-size: 20%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  width: 100%;
}

.video-modal.player .imgcat:not(:hover)::after {
  opacity: 0.75;
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media only all and (max-width: 1200px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container.xs {
  max-width: 95%;
}

.wrapper {
  max-width: 715px;
}

.wrapper.sm {
  max-width: 600px;
}

.wrapper.lg {
  max-width: 860px;
}

.wrapper.xl {
  max-width: 900px;
}

.sep {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sep.sm {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sep.lg {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sep.xl {
  margin-bottom: 4.5rem;
  margin-top: 3.5rem;
}

.sep.xxl {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.box {
  padding: 40px;
}

@media only all and (max-width: 1050px) {
  .box {
    padding: 20px;
  }
}

@media only all and (max-width: 768px) {
  .box {
    padding: 10px;
  }
}

.box.box-grey {
  background-color: white;
}

.box.sm {
  padding: 20px;
}

@media only all and (max-width: 1050px) {
  .box.sm {
    padding: 10px;
  }
}

@media only all and (max-width: 768px) {
  .box.sm {
    padding: 5px;
  }
}

.box.lg {
  padding: 5em;
}

.form input[type='text'],
.form input[type='number'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  top: -1px;
  outline: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form input[type='text']:focus,
.form input[type='number']:focus {
  border-color: #003970;
  background-color: white;
}

.form input[type='text'].valid,
.form input[type='number'].valid {
  border-color: #1ABC9C;
}

.form input[type='text'].not-valid,
.form input[type='number'].not-valid {
  border-color: #E74C3C;
}

.form input[type='text'].not-response,
.form input[type='number'].not-response {
  border-color: #3498DB;
}

.form .btn,
.form input[type='text'] {
  height: 3em;
}

.form .btn {
  width: 3em;
}

.grid-2 {
  display: block;
  font-size: 0;
}

.grid-2 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 3%;
  margin-bottom: 3%;
  vertical-align: top;
  width: 100%;
  max-width: 48.5%;
}

.grid-2 > *:nth-child(2n), .grid-2 > *:last-child {
  margin-right: 0;
}

.grid-2 > *:nth-last-child(n+3) {
  margin-bottom: 3%;
}

@media only all and (max-width: 768px) {
  .grid-2 {
    display: block;
    font-size: 0;
  }
  .grid-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-2 > *:nth-child(1n), .grid-2 > *:last-child {
    margin-right: 0;
  }
  .grid-2 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-2.wrapped > * {
    max-width: 400px;
  }
}

.grid-2.left {
  text-align: left;
}

.grid-2.left > * {
  text-align: center;
}

.grid-2.right {
  text-align: right;
}

.grid-2.right > * {
  text-align: center;
}

.grid-2.wrapped > * {
  max-width: 400px;
}

.grid-3 {
  display: block;
  font-size: 0;
}

.grid-3 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  vertical-align: top;
  width: 100%;
  max-width: 32.33333%;
}

.grid-3 > *:nth-child(3n), .grid-3 > *:last-child {
  margin-right: 0;
}

.grid-3 > *:nth-last-child(n+4) {
  margin-bottom: 1.5%;
}

@media only all and (max-width: 768px) {
  .grid-3 {
    display: block;
    font-size: 0;
  }
  .grid-3 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-3 > *:nth-child(1n), .grid-3 > *:last-child {
    margin-right: 0;
  }
  .grid-3 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-3.wrapped > * {
    max-width: 400px;
  }
}

.grid-3.left {
  text-align: left;
}

.grid-3.left > * {
  text-align: center;
}

.grid-3.right {
  text-align: right;
}

.grid-3.right > * {
  text-align: center;
}

.grid-4 {
  display: block;
  font-size: 0;
}

.grid-4 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 2%;
  margin-bottom: 2%;
  vertical-align: top;
  width: 100%;
  max-width: 23.5%;
}

.grid-4 > *:nth-child(4n), .grid-4 > *:last-child {
  margin-right: 0;
}

.grid-4 > *:nth-last-child(n+5) {
  margin-bottom: 2%;
}

@media only all and (max-width: 768px) {
  .grid-4 {
    display: block;
    font-size: 0;
  }
  .grid-4 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-4 > *:nth-child(1n), .grid-4 > *:last-child {
    margin-right: 0;
  }
  .grid-4 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-4.wrapped > * {
    max-width: 400px;
  }
}

.grid-4.left {
  text-align: left;
}

.grid-4.left > * {
  text-align: center;
}

.grid-4.right {
  text-align: right;
}

.grid-4.right > * {
  text-align: center;
}

.grid-4-2 {
  display: block;
  font-size: 0;
}

.grid-4-2 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 3%;
  margin-bottom: 3%;
  vertical-align: top;
  width: 100%;
  max-width: 22.75%;
}

.grid-4-2 > *:nth-child(4n), .grid-4-2 > *:last-child {
  margin-right: 0;
}

.grid-4-2 > *:nth-last-child(n+5) {
  margin-bottom: 3%;
}

@media only all and (max-width: 768px) {
  .grid-4-2 {
    display: block;
    font-size: 0;
  }
  .grid-4-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-4-2 > *:nth-child(1n), .grid-4-2 > *:last-child {
    margin-right: 0;
  }
  .grid-4-2 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-4-2.wrapped > * {
    max-width: 400px;
  }
}

.grid-4-2.left {
  text-align: left;
}

.grid-4-2.left > * {
  text-align: center;
}

.grid-4-2.right {
  text-align: right;
}

.grid-4-2.right > * {
  text-align: center;
}

@media only all and (max-width: 1050px) {
  .grid-4-2 {
    display: block;
    font-size: 0;
  }
  .grid-4-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 3%;
    margin-bottom: 3%;
    vertical-align: top;
    width: 100%;
    max-width: 48.5%;
  }
  .grid-4-2 > *:nth-child(2n), .grid-4-2 > *:last-child {
    margin-right: 0;
  }
  .grid-4-2 > *:nth-last-child(n+3) {
    margin-bottom: 3%;
  }
}

@media only all and (max-width: 768px) {
  .grid-4-2 {
    display: block;
    font-size: 0;
  }
  .grid-4-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-4-2 > *:nth-child(1n), .grid-4-2 > *:last-child {
    margin-right: 0;
  }
  .grid-4-2 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-4-2.wrapped > * {
    max-width: 400px;
  }
}

.grid-4-2.left {
  text-align: left;
}

.grid-4-2.left > * {
  text-align: center;
}

.grid-4-2.right {
  text-align: right;
}

.grid-4-2.right > * {
  text-align: center;
}

.grid-icons figure {
  display: inline-block;
  background: center no-repeat;
  background-size: contain;
  height: 4rem;
  width: 4rem;
}

.grid-icons.icons-lg figure {
  height: 6rem;
  width: 6rem;
}

.grid-icons.icons-xl figure {
  height: 7rem;
  width: 7rem;
}

.grid-icons h1,
.grid-icons h2,
.grid-icons h3 {
  margin-bottom: 0;
}

.grid-icons h1 + *,
.grid-icons h2 + *,
.grid-icons h3 + * {
  margin-top: 0.5em;
}

.grid-icons .btn {
  margin-top: 1.5em;
}

figure.instagram {
  background-image: url("../../images/icon-instagram.png?v=1.1");
}

figure.arroba {
  background-image: url("../../images/icon-arroba.png?v=1.1");
}

figure.instagram-white {
  background-image: url("../../images/icon-instagram-white.png?v=1.1");
}

figure.megane {
  background-image: url("../../images/icon-megane.png?v=1.1");
}

figure.captur {
  background-image: url("../../images/icon-captur.png?v=1.1");
}

figure.kadjar {
  background-image: url("../../images/icon-kadjar.png?v=1.1");
}

.content-and-image.instagram::after {
  background-image: url("../../images/instagram_image.jpg?v=1.1");
}

a {
  color: #000;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #003970;
}

a:hover .btn-slider-left,
a:hover .btn-slider-right {
  color: #000;
}

.legales-modal {
  cursor: pointer;
}

.header .menu-main > * {
  border-color: transparent;
  text-align: right;
}

.header .menu-main .menu-options > * {
  text-transform: uppercase;
}

.header .menu-main .menu-options > * button {
  font-family: "Roboto Slab", sans-serif;
  color: #72baf2;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  min-width: 120px;
}

.header .menu-main .menu-options > * button:hover {
  color: #003970;
}

@media only all and (min-width: 585px) {
  .header .menu-main .menu-options > * {
    border-bottom: 4px solid transparent;
    display: inline-block;
    margin-right: -4px;
    padding: .65em 1em !important;
  }
  .header .menu-main .menu-title {
    display: none;
  }
}

@media only all and (max-width: 585px) {
  .header .menu-main .menu-title,
  .header .menu-main .menu-options > * {
    border-bottom: 1px solid #e6e6e6 !important;
  }
  .header .menu-main .menu-options > * {
    border-left: 6px solid transparent;
  }
  .header .menu-main .menu-options > * button {
    display: block;
    font-size: 32px;
    font-size: 2rem;
    padding: 1em;
  }
}

@media only all and (max-width: 585px) and (max-width: 1050px) {
  .header .menu-main .menu-options > * button {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media only all and (max-width: 585px) and (max-width: 480px) {
  .header .menu-main .menu-options > * button {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

@media only all and (max-width: 585px) {
  .header .menu-main .menu-options > * button:hover {
    color: inherit;
    background-color: #e6e6e6;
  }
  .header .menu-main .menu-title h2 {
    font-size: 32px;
    font-size: 2rem;
    padding: 1.4em 1em;
    margin: 0;
  }
}

@media only all and (max-width: 585px) and (max-width: 1050px) {
  .header .menu-main .menu-title h2 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media only all and (max-width: 585px) and (max-width: 480px) {
  .header .menu-main .menu-title h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

@media only all and (max-width: 585px) and (max-width: 1200px) and (min-width: 1050px) {
  .header .menu-main .menu-title h2 {
    padding-bottom: 1.17em;
    padding-top: 1.17em;
  }
}

@media only all and (max-width: 585px) and (max-width: 480px) {
  .header .menu-main .menu-title h2 {
    padding-bottom: 1.75em;
    padding-top: 1.75em;
  }
}

html.tab1 .menu .tab1 {
  border-color: #003970;
}

html.tab1 .menu .tab1 button {
  color: #003970;
  pointer-events: none;
}

@media only all and (max-width: 585px) {
  html.tab1 .menu .tab1 button {
    background-color: white;
  }
}

html.tab2 .menu .tab2 {
  border-color: #003970;
}

html.tab2 .menu .tab2 button {
  color: #003970;
  pointer-events: none;
}

@media only all and (max-width: 585px) {
  html.tab2 .menu .tab2 button {
    background-color: white;
  }
}

@media only all and (max-width: 585px) {
  .header .menu-main {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s ease-in-out;
    margin-top: 0;
    text-align: left;
    width: 86%;
    margin-left: 5rem;
    z-index: 100;
  }
}

.header .burguer button {
  background-color: transparent;
  font-size: 2.5rem;
  height: 100%;
  min-height: 5rem;
  width: 5rem;
  position: relative;
  z-index: 150;
}

@media only all and (max-width: 480px) {
  .header .burguer button {
    font-size: 2rem;
    width: 5.5rem;
  }
}

@media only all and (min-width: 585px) {
  .header .burguer {
    display: none;
  }
}

html.menu-open .menu-main {
  left: 0;
}

.module {
  text-align: center;
}

.module header {
  margin-bottom: 2em;
}

.module header > *:not(p) {
  margin: 0;
}

.module header h3 {
  font-family: "Roboto", sans-serif;
}

.module header p {
  margin: 0.5em 0;
}

main {
  /*overflow: auto;*/
}

main > section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

main > section:first-child {
  margin-top: 0;
}

.header {
  width: 100%;
  margin: 0 auto;
}

@media only all and (max-width: 585px) {
  .header {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}

.header .container {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  min-height: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 24px;
}

@media only all and (max-width: 585px) {
  .header .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .header .container > * {
    display: block;
  }
}

@media only all and (min-width: 585px) {
  .header .container > *:not(nav) {
    width: 1%;
    white-space: nowrap;
  }
  .header .container nav {
    width: 4% !important;
    text-align: center;
  }
}

@media only all and (max-width: 1200px) {
  .header .container nav {
    width: 7% !important;
  }
}

.header .title {
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 32px;
  font-size: 2rem;
  padding: 0.0em;
  padding-left: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

@media only all and (max-width: 1050px) {
  .header h1 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media only all and (max-width: 480px) {
  .header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

@media only all and (max-width: 768px) {
  .header h1 {
    font-size: 1.7rem;
  }
}

@media only all and (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }
}

.header h1 a:hover {
  color: #000;
}

/*body{
	padding-top: $size-burguer;
	display: block;
}*/
@media only all and (max-width: 585px) {
  header .container {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2px;
  }
}

body > footer {
  color: #fff;
  background: #000;
  padding-top: 1.1em;
  padding-bottom: 20px;
  /*.container{
		margin-bottom: 20px;
		margin-top: 100px;
	}*/
}

@media only all and (max-width: 880px) {
  body > footer {
    padding: 0;
    margin: 0;
  }
}

body > footer .footer {
  width: 100%;
  border-radius: 10px;
  min-height: 32px;
  margin: 20px auto;
  position: relative;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only all and (max-width: 880px) {
  body > footer .footer {
    padding: 0;
    margin: 0;
    display: block !important;
  }
}

@media only all and (max-width: 480px) {
  body > footer .footer {
    display: block;
  }
}

body > footer .footer ul {
  display: inline-block;
}

@media only all and (max-width: 880px) {
  body > footer .footer ul {
    display: block;
    text-align: left;
    padding: 20px 0;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 !important;
    -ms-flex: 0 !important;
    flex: 0 !important;
  }
}

@media only all and (max-width: 480px) {
  body > footer .footer ul {
    margin: 0 !important;
    padding: 9px 0;
  }
}

@media only all and (max-width: 880px) {
  body > footer .footer ul:first-child {
    background: #8b8683;
    text-align: left;
  }
}

body > footer .footer ul:first-child li:first-child {
  margin-left: 20px;
  margin-right: 1.2em !important;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 4px;
}

@media only all and (max-width: 480px) {
  body > footer .footer ul:first-child li:first-child {
    font-size: 2rem;
    margin-right: 0 !important;
    display: inline-block;
    margin-left: 20px;
  }
}

body > footer .footer ul:first-child.social {
  min-height: 100%;
}

body > footer .footer ul:first-child:not(:first-child) {
  padding-right: 1.1em;
  padding-left: 1.1em;
}

@media only all and (max-width: 880px) {
  body > footer .footer ul:first-child:not(:first-child) {
    /*border-bottom: 1px solid $color-grey-dark;*/
    margin-right: 0;
    border-right: none;
    border-bottom: 2px solid #fff;
  }
}

body > footer .footer ul:nth-child(2) {
  text-align: center;
  /*width: 80%;*/
}

body > footer .footer ul:nth-child(2) li {
  margin-right: 40px;
}

body > footer .footer ul:nth-child(2) li:first-child {
  font-size: 1.1rem;
}

body > footer .footer ul:last-child {
  text-align: right;
}

body > footer .footer ul li {
  vertical-align: middle;
  font-size: 1rem;
  margin-top: 15px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

body > footer .footer ul li a {
  color: #fff;
  text-decoration: none;
  /*@include responsive('max-phone') {
						font-weight: bold;
					}*/
}

body > footer .footer ul li a:hover {
  color: #e6e6e6;
}

body > footer .footer ul li.social {
  font-family: 1em;
}

@media only all and (max-width: 880px) {
  body > footer .footer ul li.social {
    margin: 0 0 0 40px !important;
  }
}

body > footer .footer ul li.social a {
  color: #8b8683;
  background-color: #fff;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  height: 2em;
  line-height: 2.1em;
  width: 2em;
  text-align: center;
}

@media only all and (max-width: 768px) {
  body > footer .footer ul li.social a.fa {
    font-size: 1.5rem;
  }
}

body > footer .footer ul li.social a:first-child {
  margin: 0 !important;
}

body > footer .footer ul li.social a.fa:nth-child(2) {
  margin: 0 8px !important;
}

body > footer .footer ul li.social a.fa-facebook:hover {
  background-color: #365396;
  color: #fff;
}

body > footer .footer ul li.social a.fa-youtube:hover {
  background-color: #cd181e;
  color: #fff;
}

body > footer .footer ul li.social a.fa-twitter:hover {
  background-color: #00a8f0;
  color: #fff;
}

body > footer .footer ul li.social a.fa-instagram:hover {
  background-color: #386c99;
  color: #fff;
}

body > footer .footer ul li.social a:not(:last-child) {
  margin-right: 0.5em;
}

@media only all and (max-width: 1050px) {
  body > footer .footer ul li.social a:not(:last-child) {
    margin-right: 1em;
  }
}

body > footer .footer ul li.social a:nth-child(2) {
  margin-right: 0.3em;
}

body > footer .footer ul li.social a {
  /*@include responsive('max-phone') {
								margin: 10px !important;
							}*/
}

@media only all and (max-width: 880px) {
  body > footer .footer ul:last-child {
    padding-top: 5px;
  }
}

@media only all and (max-width: 880px) {
  body > footer .footer ul:last-child li {
    text-align: left;
    margin-left: 40px !important;
    display: block;
    margin-top: 5px;
  }
}

@media only all and (max-width: 880px) {
  body > footer .footer ul {
    display: block;
    width: 100% !important;
    margin: 20px 0;
  }
  body > footer .footer ul li {
    text-align: center;
    margin-right: 40px !important;
    margin-left: 40px;
  }
}

@media only all and (max-width: 480px) {
  body > footer .footer ul li {
    margin: 5px auto !important;
    display: block;
  }
}

.m-portada-tab1 {
  display: block;
  margin-top: 0;
}

.m-portada-tab1 > .container {
  background: #f9f9f9;
  padding: 0 24px 24px;
  margin-top: 0;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media only all and (max-width: 585px) {
  .m-portada-tab1 > .container {
    max-width: 97%;
    margin: 0;
  }
}

.m-portada-tab1 > .container h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  color: #003970;
  padding: 60px 0;
  margin: 0;
}

.m-portada-tab1 > .container h2 span {
  font-weight: bold;
}

.m-portada-tab1 > .container h2 span.stars {
  white-space: nowrap;
  margin-left: 20px;
}

.m-portada-tab1 > .container h2 span.stars i {
  display: inline-block;
  color: #fac937;
  font-size: 1rem;
}

.m-portada-tab1 > .container .flex-container {
  justify-content: space-between;
  flex-flow: row wrap;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] {
  position: relative;
  max-width: 225px;
  min-width: 225px;
  background: #fff;
  padding: 10px 0;
  border: 2px solid #72baf2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 10px;
}

@media only all and (max-width: 880px) {
  .m-portada-tab1 > .container .flex-container > [class*='regimen-'] {
    max-width: 49%;
  }
}

@media only all and (max-width: 585px) {
  .m-portada-tab1 > .container .flex-container > [class*='regimen-'] {
    max-width: 100%;
  }
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'].select {
  border: 2px solid #003970;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-title {
  position: relative;
  color: #0053a3;
  min-height: 43px;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25%;
  height: 2px;
  width: 50%;
  background: #a1d1f6;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-options {
  height: 66%;
  width: 80%;
  margin: 0 auto 100px;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-options ul li {
  position: relative;
  text-align: left;
  display: block;
  padding: 10px;
  color: #003970;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-options ul li::before {
  content: '·';
  position: absolute;
  top: -5px;
  left: -10px;
  font-size: 2.5rem;
  color: #cccccc;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-options ul li p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-button {
  position: absolute;
  left: 10px;
  bottom: 16px;
  width: 90%;
  background: #f9f9fb;
  padding: 15px 10px 15px 15px;
  color: #999999;
  text-align: left;
  border: 2px solid #fff;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-button > * {
  display: inline-block;
  vertical-align: middle;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-button .radio {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-button.select {
  color: #003970;
  border: 2px solid #003970;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-button.select .radio {
  position: relative;
  border: 1px solid green;
}

.m-portada-tab1 > .container .flex-container > [class*='regimen-'] .regimen-button.select .radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  background: green;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

html.tab2 {
  background: #fafafa;
}

.m-portada-tab2 {
  display: none;
  text-align: left;
}

.m-portada-tab2 .mas-info.open {
  display: block;
}

.m-portada-tab2 .mas-info.close {
  display: none;
}

.m-portada-tab2 h2 {
  font-family: "Roboto Slab", sans-serif;
  color: #72baf2;
  cursor: pointer;
}

.m-portada-tab2 h2 small {
  font-size: 0.8rem;
  color: #003970;
  margin-left: 20px;
}

.m-portada-tab2 .arrow {
  position: relative;
}

.m-portada-tab2 .arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #72baf2;
  border-right: 3px solid #72baf2;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.m-portada-tab2 .arrow.close::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.m-portada-tab2 .arrow.open::before {
  margin-top: -5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.m-portada-tab2 .arrow.left {
  padding-left: 30px;
}

.m-portada-tab2 .arrow.left::before {
  left: 0;
}

.m-portada-tab2 .arrow.right {
  padding-right: 10px;
}

.m-portada-tab2 .arrow.right::before {
  width: 7px;
  height: 7px;
  margin-top: -6px;
  border-top: 2px solid #72baf2;
  border-right: 2px solid #72baf2;
  right: 0;
}

.m-portada-tab2 > .container {
  border: 1px solid #cccccc;
  background: #fff;
  padding: 20px;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] {
  position: relative;
  margin: 0 auto;
  border: 1px solid #003970;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .exclusivo {
  position: absolute;
  top: -1px;
  right: -1px;
  background: red;
  color: #fff;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .exclusivo p {
  margin: 0;
  padding: 5px 10px;
  font-size: 0.7rem;
  letter-spacing: 1.3px;
}

@media only all and (max-width: 768px) {
  .m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .flex-container {
    display: block;
  }
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"]:not(:last-child) {
  margin-bottom: 25px;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--img {
  flex: 1 10%;
}

@media only all and (max-width: 768px) {
  .m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--img {
    text-align: center;
    padding-top: 20px;
  }
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--content {
  position: relative;
  flex: 1 60%;
  padding: 0 40px 40px;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--content h3 {
  font-family: "Roboto Slab", sans-serif;
  color: #003970;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--content p {
  font-size: 0.9rem;
  color: gray;
  padding-right: 20px;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--content .mas-info-btn {
  font-family: "Roboto Slab", sans-serif;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.m-portada-tab2 > .container > .mas-info > [class*="tab2-"] .tab2-mod1--content .mas-info-btn p {
  color: #72baf2;
}

.m-portada-tab2 > .container > .mas-info .mas-info--content {
  display: none;
  padding: 0 20px;
}

.content-and-image {
  margin-right: 50%;
  position: relative;
}

.content-and-image::after {
  background: no-repeat center;
  background-size: cover;
  content: '';
  height: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
}

.content-and-image .btn {
  margin-top: 1em;
}

.content-and-image figure {
  background: center no-repeat;
  background-size: contain;
  display: inline-block;
  height: 7em;
  width: 7em;
}

@media only all and (max-width: 1050px) {
  .content-and-image {
    margin-right: 0;
    margin-top: 26rem;
  }
  .content-and-image::after {
    right: 0;
    height: 25rem;
    top: -25rem;
  }
}

.highlight img {
  width: 100%;
}

.infowindow {
  text-align: left;
  font-size: 16px;
  font-size: 1rem;
}

@media only all and (max-width: 1050px) {
  .infowindow {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media only all and (max-width: 480px) {
  .infowindow {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.infowindow .fa {
  margin-right: 0.5em;
  text-align: right;
}

.infowindow h2,
.infowindow .fa {
  color: #003970;
}
