html.tab2 {
  background: #fafafa;
}

.m-portada-tab2 {
  display: none;
  text-align: left;

  .mas-info {
    &.open {
      display: block;
    }
    &.close {
      display: none;
    }
  }

  h2 {
    font-family: $roboto-slab;
    color: $color-main-sub;
    cursor: pointer;

    small {
      font-size: 0.8rem;
      color: $color-main;
      margin-left: 20px;
    }
  }

  .arrow {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -10px;
      width: 10px;
      height: 10px;
      border-top: 3px solid $color-main-sub;
      border-right: 3px solid $color-main-sub;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
    &.close {
      &::before {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
    &.open {
      &::before {
        margin-top: -5px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    &.left {
      padding-left: 30px;
      &::before {
        left: 0;
      }
    }
    &.right {
      padding-right: 10px;
      &::before {
        width: 7px;
        height: 7px;
        margin-top: -6px;
        border-top: 2px solid $color-main-sub;
        border-right: 2px solid $color-main-sub;
        right: 0;
      }
    }
  }

  > .container {
    border: 1px solid $color-grey;
    background: $color-light;
    padding: 20px;

    > .mas-info {

      > [class*="tab2-"] {
        position: relative;
        margin: 0 auto;
        border: 1px solid $color-main;

        .exclusivo {
          position: absolute;
          top: -1px;
          right: -1px;
          background: red;
          color: $color-light;

          p {
            margin: 0;
            padding: 5px 10px;
            font-size: 0.7rem;
            letter-spacing: 1.3px;
          }
        }

        .flex-container {
          @include responsive('max-phablet') {
            display: block;
          }
        }

        &:not(:last-child) {
          margin-bottom: 25px;
        }

        .tab2-mod1--img {
          flex: 1 10%;

          @include responsive('max-phablet') {
            text-align: center;
            padding-top: 20px;
          }
        }

        .tab2-mod1--content {
          position: relative;
          flex: 1 60%;
          padding: 0 40px 40px;

          h3 {
            font-family: $roboto-slab;
            color: $color-main;
          }
          p {
            font-size: 0.9rem;
            color: gray;
            padding-right: 20px;
          }

          .mas-info-btn {
            font-family: $roboto-slab;
            position: absolute;
            bottom: 0;
            cursor: pointer;

            p {
              color: $color-main-sub;
            }
          }
        }
      }

      .mas-info--content {
        display: none;
        padding: 0 20px;
      }
    }
  }
}