.container.module.m-portada-tab2
    .container.xs
        h2.title-principal.arrow.left.open Mejora tu estancia
            small  Opcional

        .mas-info.open
            .tab2-mod1
                .exclusivo
                    p EXCLUSIVO HOTELES.COM
                .flex-container
                    .tab2-mod1--img.flex-item
                        img(src="#{img}/img-module-1.jpg")

                    .tab2-mod1--content.flex-item
                        h3 Olvídese de la rutina
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt.

                        .mas-info-btn.title.arrow.right.close
                            p Más información y condiciones

                .mas-info--content.mas-info.close
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.

            .tab2-mod1
                .exclusivo
                    p EXCLUSIVO HOTELES.COM
                .flex-container
                    .tab2-mod1--img.flex-item
                        img(src="#{img}/img-module-2.jpg")

                    .tab2-mod1--content.flex-item
                        h3 Experiencias y programas SPA con agua
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.
                        p Maecenas tincidunt felis a elit tincidunt accumsan. Praesent congue ac libero vel aliquam. Donec quis turpis vitae massa mattis tristique nec nec leo. Vivamus purus nulla, fermentum at ullamcorper eget, tincidunt quis dui. Mauris volutpat porttitor purus. Pellentesque auctor turpis et augue posuere tristique nec id felis. Curabitur finibus ex eu laoreet rutrum. Aliquam ornare est suscipit egestas hendrerit. Ut lacinia dictum urna, sed volutpat orci pellentesque vel. Phasellus facilisis, turpis in facilisis mattis, erat diam lacinia diam, a scelerisque mauris enim ut purus.

                        .mas-info-btn.title.arrow.right.close
                            p Más información y condiciones

                .mas-info--content.mas-info.close
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.

    .container.xs
        h2.title-principal.arrow.left.close Servicios de habitación
            small  Opcional

        .mas-info.close
            .tab2-mod1
                .flex-container
                    .tab2-mod1--img.flex-item
                        img(src="#{img}/img-module-1.jpg")

                    .tab2-mod1--content.flex-item
                        h3 Olvídese de la rutina
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt.

                        .mas-info-btn.title.arrow.right.close
                            p Más información y condiciones

                .mas-info--content.mas-info.close
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.

            .tab2-mod1
                .flex-container
                    .tab2-mod1--img.flex-item
                        img(src="#{img}/img-module-2.jpg")

                    .tab2-mod1--content.flex-item
                        h3 Experiencias y programas SPA con agua
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.
                        p Maecenas tincidunt felis a elit tincidunt accumsan. Praesent congue ac libero vel aliquam. Donec quis turpis vitae massa mattis tristique nec nec leo. Vivamus purus nulla, fermentum at ullamcorper eget, tincidunt quis dui. Mauris volutpat porttitor purus. Pellentesque auctor turpis et augue posuere tristique nec id felis. Curabitur finibus ex eu laoreet rutrum. Aliquam ornare est suscipit egestas hendrerit. Ut lacinia dictum urna, sed volutpat orci pellentesque vel. Phasellus facilisis, turpis in facilisis mattis, erat diam lacinia diam, a scelerisque mauris enim ut purus.

                        .mas-info-btn.title.arrow.right.close
                            p Más información y condiciones

                .mas-info--content.mas-info.close
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at ante a sapien sodales placerat. Aenean viverra orci laoreet ex tempor, quis sodales tellus tincidunt. Maecenas eu dictum est, ac pretium urna. Suspendisse efficitur enim lorem, vitae lobortis ante consectetur at. Duis nulla lorem, accumsan in porta eu, tempus a neque. Aliquam iaculis luctus enim, ac vestibulum libero congue vitae. Nulla semper ex nec libero molestie tempor. Mauris aliquet cursus magna, id finibus urna luctus quis. Sed a risus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac molestie magna. Donec sagittis diam in orci tincidunt tristique.